<a href="https://colab.research.google.com/github/mohdnaved04/PYTHON/blob/main/BasicPandasFN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
dict1 = { "Name" : ["Alice", "Bob", "Charlie", "Diana", "Ethan", "Fiona", "George", "Hannah", "Isaac", "Julia"],
           "Marks" : np.random.randint( 80, 100, 10),
            "Gender" : ["Female", "Male", "Male", "Female", "Male", "Female", "Male", "Female", "Male", "Female"]
        }
print(dict1)

df1= pd.DataFrame( dict1)
print(df1)

{'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Ethan', 'Fiona', 'George', 'Hannah', 'Isaac', 'Julia'], 'Marks': array([93, 83, 82, 91, 93, 95, 96, 86, 94, 82]), 'Gender': ['Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female']}
      Name  Marks  Gender
0    Alice     93  Female
1      Bob     83    Male
2  Charlie     82    Male
3    Diana     91  Female
4    Ethan     93    Male
5    Fiona     95  Female
6   George     96    Male
7   Hannah     86  Female
8    Isaac     94    Male
9    Julia     82  Female

In [ ]:
#1. CHECK FIRST 3 ROWS OF DATASET
print( df1.head(3))

      Name  Marks  Gender
0    Alice     93  Female
1      Bob     83    Male
2  Charlie     82    Male

In [ ]:
#2. CHECK LAST THREE ROWS OF DATASET
print( df1.tail(3))

     Name  Marks  Gender
7  Hannah     86  Female
8   Isaac     94    Male
9   Julia     82  Female

In [ ]:
#3. FIND THE SHAPE OF DATASET (no. of rows & columns)
df1.shape

(10, 3)

In [ ]:
#4. GET INFO ABOUT OUR DATASET LIKE total no. rows, columns, data type of each & memory requirement
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    10 non-null     object
 1   Marks   10 non-null     int64
 2   Gender  10 non-null     object
dtypes: int64(1), object(2)
memory usage: 320.0+ bytes
None

In [ ]:
#5. CHECK NULL VALUES IN THE DATASET
print(df1.isnull())

    Name  Marks  Gender
0  False  False   False
1  False  False   False
2  False  False   False
3  False  False   False
4  False  False   False
5  False  False   False
6  False  False   False
7  False  False   False
8  False  False   False
9  False  False   False

In [ ]:
#6. GET STATISTICS ABOUT THE DATAFRAME
df1.describe()

           Marks
count  10.000000
mean   89.500000
std     5.642104
min    82.000000
25%    83.750000
50%    92.000000
75%    93.750000
max    96.000000

In [ ]:
#7. FIND UNIQUE VALUES FROM GENDER COLUMN
df1.Gender.unique()

array(['Female', 'Male'], dtype=object)

In [ ]:
#8. DISPLAY COUNT OF UNIQUE VALUES
df1.Gender.value_counts()

Gender
Female    5
Male      5
Name: count, dtype: int64

In [ ]:
#9. FIND NO. OF UNIQUE VALUES IN GENDER COLUMN
df1.Gender.nunique()

2

In [ ]:
#10. FIND NO. OF STUDENT HAVING MARKS BETWEEN 91 TO 100(INCLUSIVE) USING BETWEEN METHOD
df1[(df1["Marks"] >= 91) & (df1['Marks'] <= 100) ]

     Name  Marks  Gender
0   Alice     93  Female
3   Diana     91  Female
4   Ethan     93    Male
5   Fiona     95  Female
6  George     96    Male
8   Isaac     94    Male

In [ ]:
#11. FIND AVERAGE MARKS
df1.Marks.mean()

np.float64(89.5)

In [ ]:
#12. APPLY METHOD( marks /2) also floor division, display len of string
HalfMark = df1.Marks.apply( lambda x: x/2)
print(HalfMark)
df1["HalfMarks"] = HalfMark
print(df1)

0    46.5
1    41.5
2    41.0
3    45.5
4    46.5
5    47.5
6    48.0
7    43.0
8    47.0
9    41.0
Name: Marks, dtype: float64
      Name  Marks  Gender  BinaryGender  HalfMarks
0    Alice     93  Female             0       46.5
1      Bob     83    Male             1       41.5
2  Charlie     82    Male             1       41.0
3    Diana     91  Female             0       45.5
4    Ethan     93    Male             1       46.5
5    Fiona     95  Female             0       47.5
6   George     96    Male             1       48.0
7   Hannah     86  Female             0       43.0
8    Isaac     94    Male             1       47.0
9    Julia     82  Female             0       41.0

In [ ]:
#13. MAP FUNTION male ->1 ,  female ->0
df1["BinaryGender"]= df1.Gender.map( { "Male" : 1, "Female": 0 })
print(df1)

      Name  Marks  Gender  BinaryGender
0    Alice     93  Female             0
1      Bob     83    Male             1
2  Charlie     82    Male             1
3    Diana     91  Female             0
4    Ethan     93    Male             1
5    Fiona     95  Female             0
6   George     96    Male             1
7   Hannah     86  Female             0
8    Isaac     94    Male             1
9    Julia     82  Female             0

In [ ]:
#14. DROP COLUMN(S) inplace, axis
print(df1)
df1.drop([ "HalfMarks", "BinaryGender"], axis = 1, inplace = True)
print(df1)

      Name  Marks  Gender  BinaryGender  HalfMarks
0    Alice     93  Female             0       46.5
1      Bob     83    Male             1       41.5
2  Charlie     82    Male             1       41.0
3    Diana     91  Female             0       45.5
4    Ethan     93    Male             1       46.5
5    Fiona     95  Female             0       47.5
6   George     96    Male             1       48.0
7   Hannah     86  Female             0       43.0
8    Isaac     94    Male             1       47.0
9    Julia     82  Female             0       41.0
      Name  Marks  Gender
0    Alice     93  Female
1      Bob     83    Male
2  Charlie     82    Male
3    Diana     91  Female
4    Ethan     93    Male
5    Fiona     95  Female
6   George     96    Male
7   Hannah     86  Female
8    Isaac     94    Male
9    Julia     82  Female

In [ ]:
#15. PRINT THE NAME OF COLUMNS
df1.columns

Index(['Name', 'Marks', 'Gender'], dtype='object')

In [ ]:
#16. SORT THE DATASET ACC. TO MARKS COLUMN
df1= df1.sort_values( by = "Marks", ascending = True)
print(df1)
df1.index = np.arange(0,10)
print(df1)

      Name  Marks  Gender
2  Charlie     82    Male
9    Julia     82  Female
1      Bob     83    Male
7   Hannah     86  Female
3    Diana     91  Female
0    Alice     93  Female
4    Ethan     93    Male
8    Isaac     94    Male
5    Fiona     95  Female
6   George     96    Male
      Name  Marks  Gender
0  Charlie     82    Male
1    Julia     82  Female
2      Bob     83    Male
3   Hannah     86  Female
4    Diana     91  Female
5    Alice     93  Female
6    Ethan     93    Male
7    Isaac     94    Male
8    Fiona     95  Female
9   George     96    Male

In [ ]:
#17. DISPLAY NAME & MARKS OF THE FEMALES STUDENT'S
print(df1[df1[ "Gender"]== "Female"].loc[:,["Name", "Marks"]])

     Name  Marks
9   Julia     82
7  Hannah     86
3   Diana     91
0   Alice     93
5   Fiona     95