<a href="https://colab.research.google.com/github/mohdnaved04/PYTHON/blob/main/San_Francisco_Salary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
file_path = '/content/drive/MyDrive/Salaries.csv.zip'
df = pd.read_csv(file_path)

/tmp/ipython-input-49-1632289259.py:2: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

In [ ]:
#DISPLAY TOP 10 ROWS OF THE DATAFRAME
print(df.head(10))

   Id        EmployeeName                                        JobTitle  \
0   1      NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1   2        GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2   3      ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3   4   CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4   5     PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
5   6      DAVID SULLIVAN                       ASSISTANT DEPUTY CHIEF II
6   7           ALSON LEE              BATTALION CHIEF, (FIRE DEPARTMENT)
7   8       DAVID KUSHNER                  DEPUTY DIRECTOR OF INVESTMENTS
8   9      MICHAEL MORRIS              BATTALION CHIEF, (FIRE DEPARTMENT)
9  10  JOANNE HAYES-WHITE          CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)

     BasePay OvertimePay   OtherPay Benefits   TotalPay  TotalPayBenefits  \
0  167411.18         0.0  400184.25      NaN  567595.43         567595.43
1  155966.02   245131.88  137811.38      NaN  538909.28         538909.28
2  212739.13   106088.18    16452.6      NaN  335279.91         335279.91
3    77916.0    56120.71   198306.9      NaN  332343.61         332343.61
4   134401.6      9737.0  182234.59      NaN  326373.19         326373.19
5   118602.0      8601.0  189082.74      NaN  316285.74         316285.74
6   92492.01     89062.9  134426.14      NaN  315981.05         315981.05
7  256576.96         0.0    51322.5      NaN  307899.46         307899.46
8  176932.64    86362.68   40132.23      NaN  303427.55         303427.55
9   285262.0         0.0   17115.73      NaN  302377.73         302377.73

   Year  Notes         Agency Status
0  2011    NaN  San Francisco    NaN
1  2011    NaN  San Francisco    NaN
2  2011    NaN  San Francisco    NaN
3  2011    NaN  San Francisco    NaN
4  2011    NaN  San Francisco    NaN
5  2011    NaN  San Francisco    NaN
6  2011    NaN  San Francisco    NaN
7  2011    NaN  San Francisco    NaN
8  2011    NaN  San Francisco    NaN
9  2011    NaN  San Francisco    NaN

In [ ]:
#2 CHECK LAST 10 ROWS OF THE DATASET
print(df.tail(10))

            Id      EmployeeName                      JobTitle       BasePay  \
148644  148645      Randy D Winn  Stationary Eng, Sewage Plant          0.00
148645  148646  Carolyn A Wilson     Human Services Technician          0.00
148646  148647      Not provided                  Not provided  Not Provided
148647  148648    Joann Anderson   Communications Dispatcher 2          0.00
148648  148649       Leon Walker                     Custodian          0.00
148649  148650     Roy I Tillery                     Custodian          0.00
148650  148651      Not provided                  Not provided  Not Provided
148651  148652      Not provided                  Not provided  Not Provided
148652  148653      Not provided                  Not provided  Not Provided
148653  148654         Joe Lopez    Counselor, Log Cabin Ranch          0.00

         OvertimePay      OtherPay      Benefits  TotalPay  TotalPayBenefits  \
148644          0.00          0.00          0.00      0.00              0.00
148645          0.00          0.00          0.00      0.00              0.00
148646  Not Provided  Not Provided  Not Provided      0.00              0.00
148647          0.00          0.00          0.00      0.00              0.00
148648          0.00          0.00          0.00      0.00              0.00
148649          0.00          0.00          0.00      0.00              0.00
148650  Not Provided  Not Provided  Not Provided      0.00              0.00
148651  Not Provided  Not Provided  Not Provided      0.00              0.00
148652  Not Provided  Not Provided  Not Provided      0.00              0.00
148653          0.00       -618.13          0.00   -618.13           -618.13

        Year  Notes         Agency Status
148644  2014    NaN  San Francisco     PT
148645  2014    NaN  San Francisco     PT
148646  2014    NaN  San Francisco    NaN
148647  2014    NaN  San Francisco     PT
148648  2014    NaN  San Francisco     PT
148649  2014    NaN  San Francisco     PT
148650  2014    NaN  San Francisco    NaN
148651  2014    NaN  San Francisco    NaN
148652  2014    NaN  San Francisco    NaN
148653  2014    NaN  San Francisco     PT

In [ ]:
#3 FIND SHAPE OF OUR DATASET(NUMBER OF ROWS AND COUMNS)
print("Shape of the Dataset is : ", df.shape)

Shape of the Dataset is :  (148654, 13)

In [ ]:
#4 GETTING INFORMATION ABOUT OUR DATASET LIKE TOTAL NUMBER ROWS, TOTAL NUMBER OF COLUMNS , DATATYPES OF EACH COLUMN AND MEMORY REQUIREMENT
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB
None

In [ ]:
#5 CHECK NULL VALUES IN THE DATASET
print(df.isna().sum())

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

In [ ]:
#6 DROP ID , Notes, Agency and Status columns
df= df.drop(columns = ['Id', 'Notes', 'Agency', 'Status'])
print(df.columns)

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year'],
      dtype='object')

In [ ]:
#7 GET OVERALL STATSTIC ABOUT THE DATAFRAME
print(df.describe())
print(df.corr(numeric_only = True))

            TotalPay  TotalPayBenefits           Year
count  148654.000000     148654.000000  148654.000000
mean    74768.321972      93692.554811    2012.522643
std     50517.005274      62793.533483       1.117538
min      -618.130000       -618.130000    2011.000000
25%     36168.995000      44065.650000    2012.000000
50%     71426.610000      92404.090000    2013.000000
75%    105839.135000     132876.450000    2014.000000
max    567595.430000     567595.430000    2014.000000
                  TotalPay  TotalPayBenefits      Year
TotalPay          1.000000          0.977313  0.032090
TotalPayBenefits  0.977313          1.000000  0.151947
Year              0.032090          0.151947  1.000000

In [ ]:
#8 FIND OCCURENCE OF THE EMPLOYEE NAMES(TOP5)
employee_occ = df['EmployeeName'].value_counts().head(5)
print(employee_occ)

EmployeeName
Kevin Lee       13
William Wong    11
Richard Lee     11
Steven Lee      11
John Chan        9
Name: count, dtype: int64

In [ ]:
#9 FIND THE NUMBERR OF UNIQUE JOB TITLEES
unique_jobs = df['JobTitle'].unique()
print(len(unique_jobs))

2159

In [ ]:
#10 TOTAL  NUMBER OF JOB TITLES CONTAIN CAPTIAN
ContainCaptain = df[df['JobTitle'].str.contains(str('captain'), case = False, na = False )]
print(len(ContainCaptain))

552

In [ ]:
#11 DISPLAY AL THE EMPLOYEE NAMES FROM FIRE DEPARTMENT
FireDepartment = df.loc[ df['JobTitle'].str.contains(str('fire department'), case = False, na = False), ["EmployeeName"]]
print(FireDepartment)

                EmployeeName
4            PATRICK GARDNER
6                  ALSON LEE
8             MICHAEL MORRIS
9         JOANNE HAYES-WHITE
10             ARTHUR KENNEY
...                      ...
32623           JAMES BARDEN
36162     Joanne Hayes-White
72926   Joanne M Hayes-White
102303        Robert E Evans
110535  Joanne M Hayes-White

[226 rows x 1 columns]

In [ ]:
#12 FIND MINIMUM, MAXIMUM AND AVERAGE BASEPAY
df['BasePay'] = pd.to_numeric(df["BasePay"], errors = 'coerce')
print( f" Minimum BasePay : {df['BasePay'].min()} ")
print( f" Maximum BasePay : {df['BasePay'].max()} ")
print( f" Average BasePay : {df['BasePay'].mean() } ")

 Minimum BasePay : -166.01
 Maximum BasePay : 319275.01
 Average BasePay : 66325.4488404877

In [ ]:
#13 REPLACE "Not Provided; in EmployeeName' column to NaN"
df['EmployeeName'] = df['EmployeeName'].replace('Not Provided', np.nan)

In [ ]:
#14 DROP THE ROWSHAVING 5 MISSIGN VALUES
df = df.dropna(thresh = 5)

In [ ]:
#15 FIND JOB TITLE OF ALBERT PARDINI
print(df.loc[df['EmployeeName'].str.contains('Albert Pardini', case= False, na = False), ["JobTitle"]])

                              JobTitle
2      CAPTAIN III (POLICE DEPARTMENT)
36519                        Captain 3

In [ ]:
#16 HOW MUCH ALBERT PARDINI  MAKE (INCLUDE BENEFITS) ?
print(df[df["EmployeeName"]== "ALBERT PARDINI"][['TotalPayBenefits']])
print(df[df['EmployeeName'] == 'Albert Pardini'][['JobTitle']])

   TotalPayBenefits
2         335279.91
        JobTitle
36519  Captain 3

In [ ]:
#17 DISPLAY NAME OF THE PERSON HAVING THE HIGHEST BASEPAY
print(df.loc[df['BasePay'] == df['BasePay'].max(), ['EmployeeName']])

         EmployeeName
72925  Gregory P Suhr

In [ ]:
#18 FIND AVERAGE BASEPAY OF ALL EMPOYEE PER YEAR

KeyError: 'Column not found: 66325.4488404877'

In [ ]:
#19 FIND AVERAGE BASEPAY OF ALL EMPLOYEE PERJOBTITLE
print(df.groupby('JobTitle')['BasePay'].mean())

JobTitle
ACCOUNT CLERK                                     43300.806506
ACCOUNTANT                                        46643.172000
ACCOUNTANT INTERN                                 28732.663958
ACPO,JuvP, Juv Prob (SFERS)                       62290.780000
ACUPUNCTURIST                                     66374.400000
                                                      ...
X-RAY LABORATORY AIDE                             47664.773077
X-Ray Laboratory Aide                             46086.387100
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS    52609.910000
Youth Comm Advisor                                39077.957500
ZOO CURATOR                                       43148.000000
Name: BasePay, Length: 2159, dtype: float64

In [ ]:
#20 FIND AVERAGE BASEPAY OF EMPLOYEE JOB TITLE ACCOUNTANT
print( df.groupby('JobTitle')['BasePay'].mean().loc['ACCOUNTANT'])

46643.172

In [ ]:
#21 FIND TOP 5 MOST COMMON JOBS
print(df['JobTitle'].value_counts().head(5))

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64